{% extends "base.html" %}
<link rel="stylesheet" href="/static/style.css"/>
{% block content %}

        <h1 id="main_heading">My Event List!</h1>
        <form id="main_form" action="/events" method="post">
            <label id="main_labels" for="name"> Event </label>
            <input id="main_inputs" type="text" name="name" id="name"><br>
            
            <label for="date"> Date </label>
            <input id="main_inputs1"type="date" name="date" id="name"><br>
            
            <label for="guest_number"> Guest Number </label>
            <input id="main_inputs2"type="text" name="guests" id="name"><br>
            
            <label for="location"> Location </label>
            <input id="main_inputs3"type="text" name="location" id="name"><br>
            
            <label for="description"> description </label>
            <textarea id="main_inputs4"name = "description" rows = "2" cols = "20"></textarea><br>

            <input type="submit" value="Add Event">

        </form>
        {% for event in events %}
        <div>
            {{ event.name }}: {{ event.date }} {{ event.guest_number}} {{ event.location }} {{ event.description }}
            {% if event.recurring %}
            <span> &#127812; </span>
            {% endif %}
        </div>
        {% endfor %}

{% endblock %}
